$navbar-default-bg: #759ddd;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size:1.5em;
  margin-top: 10px;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover{
  color:#fff;
  text-decoration: none;
}

#forecolor{
  color: #fff;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('city.jpg');
  background-size:cover;
  height: 550px;
}

.jumbotron h1{
  color:#fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
  color: #fff;
  background-color: #35567a;
}

.article-actions{
  border-top: 1px solid #759ddd;
  padding-top: 5px;
}

.description{
  margin-top:0;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;

}

.article-body{
  border-top: 1px solid #759ddd;
  padding-top: 15px;
  padding-bottom: 15px;
}



footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #00405e;
  color:#35567a;
}

footer small{
  float:left;
}
